/* .watch-text-box {
  max-width: 768px;
} */
.watch-text,
.sync-text {
  font-size: 16px;
  line-height: 32px;
  max-width: 703px;
  letter-spacing: -3%;
  height: 72px;
  padding: 0 15px;
}
/* .watch-text{} */
.mockup {
  padding-top: 20px;
  height: 396px;
  /* width: 495px; */
}

.sync-img {
  width: 80%;
  object-fit: cover;
}

.watch-box {
  height: 372px;
  max-width: 513px;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  /* width: 1280px; */
  width: 90%;
  height: 79px;

  /* border-bottom: 5px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 8px;
  /* padding-left: 40px;
  padding-right: 40px; */
}
.logo {
  height: 79px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-nav-list {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
}

.main-navlink {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  align-items: center;
}
.nav-cta {
  padding: 10px 8px;
  background-color: #1ed760;
  border-radius: 8px;
  text-decoration: none;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  /* width: 10%; */
  display: none;
}

.icon-mobile-nav {
  width: 40px;
  height: 40px;
  color: #1ed760;
}
.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/* STICKY-NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #0d0f2a;
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/* Make the section able to hold an absolutely positioned child */
#watch {
  position: relative;
  overflow: hidden;
}
/* Watermark */
#watch::before {
  content: ' ';
  background-image: url('../image/watermark.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(-5deg);

  width: 90%;
  height: 70%;

  opacity: 0.1;
  z-index: 0; /* behind content */
}

/* Make sure all real content stays above the watermark */
#watch * {
  position: relative;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 300px;
}
/* sticky header */
/* .header .sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
} */
