/* .watch-text-box {
  max-width: 768px;
} */
.watch-text,
.sync-text {
  font-size: 16px;
  line-height: 32px;
  width: 703px;
  letter-spacing: -3%;
  height: 72px;
  padding: 0 15px;
}

.mockup {
  padding-top: 20px;
  height: 396px;
  width: 495px;
}

.watch-box {
  height: 396px;
  width: 495px;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Satoshi Font*/
body{
font-family: "Satoshi", sans-serif
}
/*Satoshi font styling end*/

/* FEATURE SECTION STYLE*/
.feat{
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    margin: 0% auto;
    padding-top: 50px;
    
    top: 848.41px;
    background: #0d0f2a;
}

.host {
    padding-top: 5px;
    height: 50px;
    top: 848.41px;
    left: 80px;
    margin-bottom: 0%;
    opacity: 1;
}
   
/*Logos styles*/
.logos{ 
    display: flex;
    height: 94px;
    top: 914.41px;
    opacity: 1;
    margin-bottom: 3px;
    justify-content: space-between; 
    padding-left: 40px;  
}

.netflix{
    height: 40px;
    top: 25px;
    opacity: 1;
    margin: 18px;
}

.youtube{
    width: 200px;
    height: 50px;
    top: 27px;
    left: 248px;
    opacity: 1;
    margin: 20px;
}

.disney{
    width: 130px;
    height: 93px;
    left: 560px;
    opacity: 1;
    border-radius: 28.92px;
}

.hbo{
    width: 95px;
    height: 60px;
    opacity: 1;
    margin: 15px;
}

.spotify{
    width: 180px;
    height: 40px;
    margin: 20px;
    top: 27px;
    left: 953px;
    opacity: 1;
    gap: 16px;
}

/*END OF FEATURE SECTION STYLING*/


/*SIGN UP FORM MOBILE*/

.top{
  /*margin: 80px;
  margin-top: 0%;
  margin-bottom: 40px;*/
  width: 390px;
  height: 48px;
  padding-top: 11px;
  padding-right: 21px;
  padding-bottom: 11px;
  padding-left: 21px;
  gap: 226px;
  opacity: 1;
}

.logo{
  padding: 0%;
  margin: 80px;
  margin-left: 45px;
  margin-bottom: 0px;
  width: 63px;
height: 100px;
top: 85px;
left: 24px;
opacity: 1;
}

.sign{
  
  margin-left: 45px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 138px;
  height: 24px;
  top: 160px;
  left: 24px;
  opacity: 1;
}

.sign-up{
  margin: 40px;
  margin-top: 40px;
  margin-bottom: 0%;
}

.form{
  width: 342px;
height: 476px;
opacity: 1;
top: 204px;
left: 24px;

}

.form input{
  width: 350px;
  height: 52px;
  border-radius: 20px;
  border: none;
  background: #F7F7F833;
  color: #A6A6A6;
  margin-bottom: 15px;
  margin-top: 6px;
  font-weight: 600px;
}

.required::after{
  content: "*";
  color: #F23E3E;

}


input[type='checkbox'] {
  /*box-sizing: border-box;*/
  border: 2px solid #292D32;
  border-radius: 3px;
  width: 16px;
  height: 16px;
}

input[type="checkbox"]:checked{
  accent-color: #1ed760;
}


.submit input{
  width: 350px;
  height: 48px;
  top: 787px;
  left: 24px;
  padding: 16px;
  gap: 8px;
  border-radius: 16px;
  border: none;
  background: #1ED760;
  color: #1A1A1A;
  font-size: medium;
  font-weight: 600;

}

.account{
  margin: 20px;
}

.bottom-img{
  width: 134px;
height: 5px;
opacity: 1;
top: 17px;
left: 127px;
border-radius: 100px;
padding-bottom: 0%;

}

.terms{
  padding-top: 0%;
margin-left: 20px;
margin-bottom: 20px;
width: 340px;
height: 50px;
top: 709px;
left: 24px;
opacity: 1;
}
.terms a{
  color: #1ED760;
  text-decoration: none;
}

.account{
width: 225px;
height: 25px;
top: 851px;
left: 90px;
margin-left: 60px;
margin-top: 30px;
opacity: 1;
}

.account a{
  color: #1ED760;
  text-decoration: none;
}
/*SIGN UP FORM MOBILE ENDING*/

/*LOGIN FORM MOBILE*/


.login-top{
 width: 390px;
height: 48px;
opacity: 1;
padding-top: 11px;
padding-right: 21px;
padding-bottom: 11px;
padding-left: 21px;
gap: 226px;
 
}

.login-logo{
  padding: 0%;
  margin: 80px;
  margin-left: 45px;
  margin-bottom: 0px;
  width: 63px;
  height: 100px;
  top: 85px;
  left: 24px;
opacity: 1;

}

.login-header{
   margin-left: 45px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 138px;
  height: 24px;
  top: 160px;
  left: 24px;
  opacity: 1;
}

.login-form{
  margin-left: 45px;
  margin-top: 20px;
  padding-top: 40px;
  width: 342px;
  height: 476px;
  opacity: 1;
  top: 204px;
  left: 24px;
  font-size: medium;
  font-weight: 700;

}

.login-form input{
  width: 340px;
  height: 52px;
  border-radius: 20px;
  border: none;
  background: #F7F7F833;
  color: #A6A6A6;
  margin-bottom: 20px;
  margin-top: 6px;
}

.login-form a{
  color: #1ED760;
  text-decoration: none;
}


.login-submit{
  margin: 40px;
}


.login-submit input{
  width: 340px;
  height: 48px;
  top: 787px;
  left: 24px;
  padding: 16px;
  gap: 8px;
  border-radius: 16px;
  border: none;
  background: #1ED760;
  color: #1A1A1A;
  font-size: medium;
  font-weight: 600;
}


.login-account{
  width: 230px;
height: 25px;
top: 512px;
left: 90px;
margin-left: 100px;
margin-top: 30px;
opacity: 1;
}

.login-account a{
  color: #1ED760;
  text-decoration: none;
}

.login-baseimg{
 width: 390px;
height: 34px;
top: 893px;
opacity: 1;
margin: 8%;
margin-bottom: 2%;
}