* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
}
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #0d0f2a;
  color: white;
  /* --i: #1ed760;/ */
}

aside {
  /* background-color: aqua; */
  flex: 0.25;
  min-width: 18rem;
  padding: 5rem 3rem;
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  box-shadow: 1px 0 10px 1px #00021a96;
  position: relative;
  overflow: hidden;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-position: -5rem 20vh;
  background-size: 60rem;
}

aside .logo {
}

aside ul.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside ul li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 5px;
}

aside ul li a,
i {
  text-decoration: none;
  font-weight: 500;
  color: #bbb;
  transition: all 0.1s ease-in;
}

aside ul li:hover > * {
  color: #fff;
  font-weight: bolder;
}

aside ul li:hover path {
  fill: #eee;
  stroke: #eee;
}
aside ul li:hover .filled {
  fill: #1ed760;
  stroke: #1ed760;
}

/* trailer */

aside .trailer_card,
.new_trailer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .trailer_card {
  display: flex;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

aside .trailer_card img {
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

aside .trailer_card .trailer_bottom {
  position: absolute;
  inset: 70% 0 0 0;
  background-color: #fff3;
}
aside .trailer_card .trailer_bottom i {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #eee;
  right: 10%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN SECTION */

#main-section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
  padding: 5rem;

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .search-bar {
      border: 0.01rem solid rgba(255, 255, 255, 0.34);
      display: flex;
      max-height: 7.5vh;
      border-radius: 1.5rem;
      padding: 1rem 0rem 1rem 5rem;
      flex: 0.5;
      position: relative;

      input {
        outline: none;
        appearance: none;
        background: transparent;
        border: none;
        color: white;
        caret-color: #1ed760;
        caret-shape: block;
      }
      i {
        position: absolute;
        left: 2rem;
        top: 25%;
      }
    }

    .badge {
      background-color: #eee1;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: relative;

      i {
        &::after {
          width: 0.5rem;
          height: 0.5rem;
          background-color: #1ed760;
          border-radius: 50%;
          content: "";
          position: absolute;
          top: 5%;
          right: 10%;
        }
      }
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      .profile-card {
        max-height: 10vh;
        padding: 0.5rem;
        padding-right: 2rem;
        object-fit: cover;
        display: flex;
        gap: 1rem;
        background: #8b8b8b11;
        border-radius: 50rem;

        img {
          object-fit: cover;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
        .content {
          display: block;
          h4 {
            line-height: 1.5rem;
            font-weight: normal;
          }
          span {
            font-size: 12px;
            color: #fff8;
          }
        }
      }
    }
  }

  section.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .carousel-indicator {
      display: flex;
      gap: 0.75rem;
      height: 0.5rem;

      & > span {
        background-color: #fff9;
        padding: 0 0.5rem;
        border-radius: 1rem;
      }
      span.active {
        padding: 0 1.5rem;
        background-color: #1ed760;
      }
    }
    .carousel {
      width: 100%;
      min-height: 50vh;
      background-color: blueviolet;
      border-radius: 2rem;
      background-image: url("img/banner\ prodigal\ son.png");
      background-size: contain;

      overlay {
        display: flex;

        left {
          display: flex;
          flex-direction: column;
        }

      }
    }
  }
}
